<section class="left">
  <app-serempre-image-galery [images]="images"></app-serempre-image-galery>
</section>

<section class="right">

  <h6 class="text-red text-min"> New release</h6>
  <h1 class="big-title m-t-8px">MOMENTUM True Wireless 2</h1>
  <h3 class="text-gray m-b-48px">Earbuds that put sound first</h3>
  <h1 class="text-gray-mini text-min ">Starting at</h1>
  <h1 class="big-title m-t-8px m-b-48px">{{cost |currency}}</h1>

  <app-serempre-info-tabs [infoTabs]="infoTabs"></app-serempre-info-tabs>

  <app-serempre-specification-table [specification]="caracteristicas"></app-serempre-specification-table>

</section>

